body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Centralizar o card login */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.logo img {
  width: 15em;
  margin-bottom: 5px;
}

/* Card de login */
.login-card {
  background-color: #17729b;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 561px;
  text-align: center;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group label {
  color: #fff;
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 5px;
}

.input-group input {
  background-color: #fff;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

/* Botão */
.btn-login {
  background-color: #f59e0b;
  color: #f9fafb;
  width: 40%;
  letter-spacing: 2px;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-login:hover {
  background-color: #e39c00;
}

/* Esqueceu a senha? */
.forgot-password {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.forgot-password a {
  color: #fff;
  text-decoration: none;
}

/* Cadastra-se */
.signup-link {
  text-align: center;
  margin-top: 15px;
}

.signup-link a {
  color: #fff;
  text-decoration: none;
}

/* Para envolver o input e o botão toggle */
.password-wrapper {
  position: relative; /* Define o contexto para o ícone absoluto */
  display: flex;
  align-items: center;
}

/* Garante que o input ocupe o espaço e permite espaço para o ícone */
.password-wrapper input {
  padding-right: 40px; /* Adiciona espaço para o botão/ícone */
  width: 100%;
}

/* Estiliza e posiciona o botão de toggle */
.password-toggle-btn {
  position: absolute;
  right: 10px; /* Posição à direita */
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 1.2rem;
  height: 100%; /* Ajusta a altura */
  display: flex;
  align-items: center;
  z-index: 10;
}
.password-toggle-btn:focus {
  outline: none; /* Remove o contorno ao focar */
}
